<!DOCTYPE html>
<html>
<head>
  <title>Omnibrel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div class="container">
  <div class="top">
  <div id="banner">
    <h2>Welcome to Omnibrel</h2>
  </div>
  <br />
  <br />
  <div id="menu_wrapper">
    <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
      <li><div class="arrow buttonbg"><a href="<%= landing_index_url %>">Home</a></div></li>
    </ul>
    <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
      <li><div class="arrow buttonbg"><a href="<%= about_index_url %>">About</a></div>
        <ul>
          <li><a title="" href="<%= about_resources_url %>">Resources</a></li>
        </ul>
      </li>
    </ul>
    <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
      <li><div class="arrow buttonbg"><a>Apply</a></div>
        <ul>
          <li><a title="" href="<%= apply_content_url %>">Content Application</a></li>
          <li><a title="" href="<%= apply_crew_url %>">Crew Application</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
  <div class="subject">
    <%= yield %>
  </div>
</div>
<div class="footer">
  <p>Created By: Ryan Bacheller</p>
</div>
<div class="_menu">
  <ul id="_mbmcpebul_table" class="_bmcpebul_menulist css_menu">
    <li><div class="arrow buttonbg" style="width: 101px;"><a href="<%= landing_index_url %>">omnibrel</a></div>
      <ul>
        <li><a class="with_arrow" title="" href="http://daedalusmaster84c9.ninefold-apps.com">daedalus</a>
          <ul>
            <li><a title="">blank</a></li>
          </ul></li>
      </ul></li>
    <li><div class="buttonbg"><a class="button_2">user</a></div>
      <ul>
        <li><a href="">Status: 'disabled by admin'</a></li>
      </ul>
    </li>
  </ul>
</div>
</body>
</html>
